<div layout="column">
    <md-content flex="100" layout-padding>
        <md-whiteframe class="md-whiteframe-2dp" layout>
            <p>
                This page shows the tree history. It is in descending order by time. It shows only the recent 100 versions.
                <br>
                When repeated data arrives, the tree are not changed.
                <br>
                The trees persisted in Redis have a TTL of 30 minutes.
                <br>
                <br>
                Spout Tree Extend Data: (-0.5, -1.5), (-2.0, -1.5), (+1.5, +0.5), (-2.5, -1.5), (-1.5, +1.0), (-1.5, +2.0)
            </p>
        </md-whiteframe>
    </md-content>
    <div layout="row" id="container-detail-tree" layout-wrap>
        <div flex="25" ng-repeat="item in treeData">
            <div>
                <div layout="row" layout-align="center">
                    <md-button class="md-raised" ng-click="showAlert($event,item.dataTree)" aria-label="Play">
                        Data
                    </md-button>
                </div>
                <draw-tree data="item.root" ></draw-tree>
            </div>
        </div>
    </div>
</div>
