<div layout="column">
    <md-content flex="100" layout-padding>
        <md-whiteframe class="md-whiteframe-2dp" layout>
            <p>
                Generates Mondrian trees and persist the state in Redis. It has two streams.
                One stream has a spout that generates a list of data with size 5. These data are random selected in a array defined in Spout and then are aggregated to build the trees. After that, The trees are persisted in Redis.
                The creator spout is set up to create 4 trees in parallel in each 15 seconds.
                <br>
                <br>
                The second stream has a spout that generates one data at a time. This data is random selected in a list in the spout and then is broadcast to all partitions. In each partition, for each data coming, all trees in this partition are selected and extended with this data.
                After extending the tree, the old tree is deleted and added to a history cache.
                Finally, the extended trees are persisted in Redis again.
                <br>
                The trees persisted in Redis have a TTL of 30 minutes. All of them including history and current.
                <br>
                Spout Tree Creator Data: (-0.5, -1.0), (-2.0, -2.0), (+1.0, +0.5), (-3.0, -1.5), (-1.0, +1.0), (-1.5, +1.5)
                <br>
                Spout Tree Extend Data: (-0.5, -1.5), (-2.0, -1.5), (+1.5, +0.5), (-2.5, -1.5), (-1.5, +1.0), (-1.5, +2.0)
                <br>
                Click in the tree id to visualize its history. It will only show a maximum of 100 trees because the performance are degrading.
            </p>
        </md-whiteframe>
    </md-content>
    <div flex layout="row" layout-wrap>
        <div flex="25" ng-repeat="item in treeData">
            <div>
                <draw-tree data="item.root" ></draw-tree>
                <div class="caption">
                    <h4><a href="#/detail/{{item.uuid}}">Tree ID:{{item.uuid}}</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>

